= image_tag 'favicon73x73.png', class: 'twitter-user-icon', alt: 'twitter user icon'
.twitter-user-screen-name-prefix @
%form.twitter-user{method: 'get'}
  %input{type: 'text',   class: 'twitter-user-screen-name', value: @twitter_name}
  %input{type: 'submit', class: 'twitter-user-submit-btn',  value: 'favtile!'}
